* {
   box-sizing: border-box;
   margin:0px;
   padding: 0px;
}

html {
   background-image:url('background.png');
   color: rgb(44,44,44);
   font-family: 'Lora', serif;
   font-size: 10px;

}

body {
   background: rgb(40, 127, 184);  /* fallback for old browsers */
   background: -webkit-linear-gradient(to bottom, rgb(255, 255, 255), rgb(109, 213, 250), rgb(41, 128, 185));  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to bottom, rgb(255, 255, 255, 0.5), rgb(109, 213, 250, 0.6), rgb(41, 128, 185, 0.6)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   background-size: cover;
   height:100vh;
   max-height: 100vh;
}

#wrapper {
   margin: auto;
   width:90%;
}

#headline {
   font-size: 4rem;
   font-weight: 400;
   line-height: 1.5;
   text-align: center;
   width: 100%;

}

#container {
   position: relative;
   top: 100px;
}

#input-content, 
#result-content {
   display:flex;
   justify-content: center;
   align-items: center;
   flex-flow: row wrap;
   margin:150px auto;
   width: 90%;
}

#label,
#result {
   font-size:2.4rem;
   font-weight: 400;
   line-height:1.4;
   margin: 0 auto 30px;
   text-align: center;
   width: 100%;
}


#inline-btn {
   display:flex;
   justify-content: center;
   align-items: center;
   flex-flow: row nowrap;
   width:75%;
}


#input {
   border-radius: 0px;
   border: none;
   font-family: 'Lora', serif;
   font-size:2rem;
   text-align: center;
   width:100%;
}


.btn {
   padding: 0 5px;
   border:none;
   border-radius: 0px;
   background: rgb(44, 44, 44, 0.60);
   color: rgb(245, 245, 245);
   font-family: 'Lora', serif;
   font-size:2rem
}

.btn:hover {
   background: rgb(44, 44, 44);
   color: rgb(245, 245, 245);
}

.btn:focus {
   background: rgb(44, 44, 44);
   color: rgb(245, 245, 245);
}


#footer {

   position:fixed;
   bottom: 11px;
   margin: 0 auto;
   text-align:center;
   width: 100%;
}

#copyright {
   font-size: 2rem;
   font-weight: 600;
}



